*{
    margin: 0;
    padding: 0;
}
.box_1{
    border: 2px solid red;
    border-bottom: 0;
    text-align: center;
}
img{
    width: 30% !important;
    margin: 5px;
    border: 3px solid greenyellow;
}
@media screen and (max-width: 800px){
img{
    width: 45% !important;
}
}
@media screen and (max-width: 400px) {
    img{
        width: 80% !important;
    }
}
@media screen and (min-width: 1000px) {
    img{
        width: 20% !important;
    }
}